body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

div#game {
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
}

.gamePos {
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#p1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#p2 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#p3 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;    
}

#p4 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#p5 {
    border: 1px solid black;
}

#p6 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#p7 {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#p8 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#p9 {
    border-top: 1px solid black;
    border-left: 1px solid black;
}
